
*{
    box-sizing: border-box; /* box size include border and padding*/
}

h1 {
    display: inline-block;
    margin: 0;
}

header{
    position: fixed;
    top: 0;
    width: inherit;
    z-index: 100;


    padding: 10px;
    margin: 0 0 10px 0;
}

/** Login form **/

#user {
    float: right;
}

#loginForm label {
    display: inline-block;
    width: 90px;
}

/** side bar **/
nav{
    position: fixed;
    margin: 100px auto 0;
    top: 0;
    left: 0;
}

/** main body **/
main{
    margin-top: 100px;
    margin-left: 160px;
}

.dogs {
    clear: both;
}

.dogs img{
    float: left;
    margin-right: 10px;
}