
*{
    box-sizing: border-box; /* box size include border and padding*/
}

body{
    width: 700px;
    margin: 0 auto;
}

h1 {
    display: inline-block;
    margin: 0;
}

header{
    position: fixed;
    top: 0;
    width: inherit;
    z-index: 100;


    padding: 10px;
    margin: 0 0 10px 0;
    background-color: lightpink;
}

/** Login form **/

#user {
    float: right;
}

#loginForm label {
    display: inline-block;
    width: 90px;
}

/** side bar **/
nav{
    position: fixed;
    top: 100px;
    background-color: palevioletred;
    height: 100%;
}

nav ul {
    list-style-type: none;
    text-align: left;
}

/** main body **/
main{
    margin-left: 160px;
    margin-top: 100px;
    padding-top: 10px;
    clear: both;
}

.dogs {
    clear: both;
}

.dogs img{
    float: left;
    margin-right: 10px;
}