
*{
    box-sizing: border-box; /* box size include border and padding*/
    margin: 0;
    padding: 0;
}

html{
    height: 100vh;
}

body{
    width: 700px;
    margin: 0 auto;
    min-height: 100%;
}

h1 {
    display: inline-block;
    margin: 0;
}

header{
    position: fixed;
    top: 0;
    width: inherit;
    min-height: 97px;
    z-index: 100;


    padding: 10px;
    margin: 0 0 10px 0;
    background-color: lightpink;
}

/** Login form **/

#user {
    float: right;
}

#loginForm label {
    display: inline-block;
    width: 90px;
}

/** side bar **/
nav{
    position: fixed;
    top: 90px;
    background-color: lightpink;
    height: 100%;
    width: 160px;
}

nav ul {
    list-style-type: none;
    text-align: left;
}


nav li.current {
    margin: 5px;
    padding: 13px;
}

nav li:hover {

    margin: 5px;
    padding: 13px;
}

nav li{
    margin: 10px;
    padding: 10px;
    border: 1px solid;
    background-color: palevioletred;
    font-weight: 900;
    color: antiquewhite;
}

nav a{
    text-decoration: none;
    color: bisque;
}


/** main body **/
main{
    height: auto;
    min-height: calc(100vh - 100px);
    margin-left: 165px;
    margin-top: 100px;
    padding: 10px;
    clear: both;
    background-color: darksalmon;
}

main h2{
    margin-bottom: 20px;
}

main p{
    margin: 10px 0;
}


/** Index page **/
.welcome{
    margin: 10px;
}

.review{
    text-align: center;
}

/** View Dogs page **/
#pickupSelect{
    padding: 10px;
}

#bookingNameError, #bookingSaveError{
    color: red;
}

#bookingDetails{
    height: 175px;
}

.dogs {
    display: inline-flex;
    clear: both;
    padding: 10px;
    min-width: 100%;
}

.dogs img{
    float: left;
    margin-right: 10px;
    width: 200px;
    height: auto;
}

.dogs:hover{
    background-color: lightsalmon;
}

/** POI page **/
#map{
    width: 90%;
    height: 500px;
    margin: 10px auto;
    z-index: 0;
}

ul#pointsOfInterest {
    list-style-type: none;
    width: 90%;
    margin: 10px auto;
}

#pointsOfInterest li{
    width: 80%;
    margin: 10px auto;
}

#pointsOfInterest p{
    clear: right;
}

#pointsOfInterest input{
    margin-right: 10px;
    float: right;
}


/** Admin page **/
table{
    margin: 10px auto;
    border-collapse: collapse;
}

th, td{
    border: 1px solid black;
    padding: 2px 5px;
}

tbody tr :nth-child(4){
    text-align: center;
}

/* adjust for smaller screen */
@media screen and (max-width: 700px) {
    #loginForm{float: right;
            margin-right:10px;}
    header{width: 100vw;}
    header h1 {width: 40vw;
            font-size: calc(30px + 0.5vw)}
    nav {width: 23vw;}
    main{margin-left: 23.75vw;}
    /* margin between main and nav
    5px/700px ~ 0.77%, equate to 0.75vw */
}